.form-container {
	/* width: 100%; */
	margin: 10px;
	border: 1px solid #931621;
}
h2 {
	margin: 10px;
	color: #931621;
}

div .form input {
	width: 80%;
	box-sizing: border-box;
	margin: 10px;
	padding: 5px;
}
input.add-button {
	background-color: #931621;
	color: #f0f2ef;
	margin-top: 20px;
}
