.Playlist {
	display: flex;
	flex-direction: column;
	border: 1px solid #931621;
	margin: 10px;
}
.Playlist h1 {
	color: #931621;
	font-weight: bold;
	margin-bottom: 10px;
}
div.favDelete {
	display: flex;
	justify-content: space-between;
}
div.favDelete .item {
	margin: 5px;
}
i.fa-heart {
	color: #931621;
}
i.fa-trash-alt {
	color: #152238;
}
