.App {
  width: auto;
}
body {
  max-width: 1000px;
  margin: auto;
}
ul {
  list-style: none;
}
.Song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    margin: 25px;
    color: rgb(16, 12, 70);
}
